* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit ,sans-serif;
}

button:hover {
    transform: scale(1.02);
}

.nav-links ul li a:hover {
    color: #E25B38;
}

.nav-links ul li a:active {
    color: #E25B38;
}

.logo img:hover {
    filter: drop-shadow(0px 0px 2px #E46A4C);
    transform: scale(1.01);
}

.nav-ham img:hover {
    filter: drop-shadow(0px 0px 2px #E46A4C);
    transform: scale(1.01);
}

.img-logo {
    height: 100px;
    margin-left: 40px;
}

.img-ham {
    height: 80px;
    margin-left: 60px;
    margin-right: 40px;
}

.nav-links ul li{
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-links ul li a {
    color: black;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-bar {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.nav-menu ul {
    display: flex;
}

.section-2 {
    display: flex;
    margin: auto;
    width: 80vw;
    align-items: center;
    margin-top: 200px;
    justify-content: space-between;
}

.section-2-img img {
    height: 400px;
}

.section-2-info h3 {
    font-size: 36px;
    font-weight: bold;
}

.section-2-info p {
    font-size: 20px;
    font-weight: 400;
    width: 480px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.section-2-info button {
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #E25B38;
    border: 2px solid #E25B38;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
}

.section-2-info button:hover {
    cursor: pointer;
}

.section-2-box-1 {
    display: flex;
}

.section-2-box-2 {
    display: flex;
}

.technology-div {
    display: flex;
    width: 80vw;
    margin: auto;
}

.tech-box {
    margin: 20px;
    text-align: center;
}

.info-box {
    width: 80vw;
    margin: auto;
}

.info-box2 {
    width: 80vw;
    margin: auto;
}

.info-box h3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 100px;
}

.info-box p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px;
    width: 1100px;
}

.info-box2 p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.info-box2 h3 {
    font-size: 36px;
    margin-top: 100px;
}

.info-box-2 {
    display: flex;
    width: 80vw;
    margin: auto;
}

.info-box-info h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #E25B38;
}

.info-box-info p {
    font-size: 20px;
    font-weight: bold;
    color: #E25B38;
    background-image: linear-gradient(to right, #E25B38 , #2861DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-box {
    transition: transform 0.5s ease-in-out;
}

.info-box:hover {
    transform: scale(1.04);
}

.info-box-info {
    text-align: center;
    padding: 0px 40px;
    transition: transform 0.3s ease-in-out;
}

.info-box-info:hover {
    transform: scale(1.1);
}

.info-box-box {
    border-radius: 10px;
    background-image: linear-gradient(to bottom right,rgba(228,106,76, .25) , rgba(39,97,223, .25));
}



.point {
    padding: 10px 20px;
    background-image: linear-gradient(to right, #E25B38 , #2861DF);
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.key-features {
    width: 80vw;
    margin: auto;
    font-size: 36px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 40px;
}

.price-box {
    display: flex;
    margin-top: 20px;
}

.price-info {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-container {
    width: 80vw;
    margin: auto;
    margin-top: 100px;
    background: linear-gradient(101deg, rgba(226, 91, 56, 0.09) -0.64%, rgba(40, 97, 223, 0.10) 99.97%);
    padding: 20px;
    border-radius: 20px;
}

.price-container h3 {
    font-size: 36px;
    font-weight: 500;
}

.price-container > p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.price-container img {
    height: 20px;
    margin-right: 20px;
}

.price-container button {
    padding: 10px 20px;
    background-color: white;
    color: #E25B38;
    border: 2px solid #E25B38;
    border-radius: 10px;
    margin-top: 20px;
}

.price-info p {
    width: 500px;
}

.orange {
    color: #E25B38;
}

.contact-section {
    width: 80vw;
    margin: auto;
    margin-top: 100px;
}

.contact-section h3 {
    font-size: 36px;
    font-weight: bold;
}

.contact-section p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    width: 900px;
}

.contact-section button {
    font-size: 24px;
    font-weight: bold;
    color: #E25B38;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #E25B38;
    margin-top: 40px;
}

.footer {
    margin: auto;
    margin-top: 200px;
    width: auto
}

.footer-main-box {
    background-image: linear-gradient(to right, #E25B38 , #2861DF);
}

.footer-bot {
    display: flex;
    justify-content: space-between;
    width: 1270px;
    margin: auto;
    padding-bottom: 40px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    width: 1270px;
    margin: auto;
    margin-bottom: 160px;
    padding-top: 40px;
}

.footer-box-01 {
    font-family: outfit, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    line-height: 150%;
    color: white;
}

.footer-box-02 {
    font-family: outfit, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    line-height: 150%;
    color: white;
}

.footer-box-03 {
    font-family: outfit, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
    text-align: right;
    color: white;
}

.contact {
    font-weight: bolder;
    padding-top: 20px;
}

.contact-1 {
    font-weight: bolder;
}

.footer-box p {
    color: white;
}

.footer-box p:hover {
    color: #E25B38;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-logo img:hover {
    transform: scale(1.02);
}
