* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color:#E25B38;
    height: 700px;
}

.nav-bar {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}

.page-links {
    font-family: outfit, sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-left: 135px;
    margin-top: 240px;
    margin-bottom: 240px;
}

.social-icons img {
    height: 100px;
    margin-left: 80px;
    margin-right: -80px;
}